* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #f4f7fa;
    color: #333;
}


.header .logo img {
    max-width: 150px;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar-links {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links:hover {
    color: #f0e68c; /* Light Yellow */
}

.hero {
    background-color: #03034a; /* Purple */
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
}

.expert-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 350px;
}

.card img {
    border-radius: 10%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.card h3 {
    margin: 10px 0;
    font-size: 1.5rem;
}

.card p {
    font-size: 0.9rem;
    color: #666;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #6c63ff; /* Purple */
    color: white;
    text-align: center;
    padding: 20px;
}

.expert-cards{
    gap: 60px;
}

.containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: hsl(216, 19%, 16%);
    height: 60px;
    width: 1520px;
    margin-top: 0px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .btn {
    background-color: #00c8c8;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }